<%- include('header') -%>

<div class="pname1"></div>
<div class="pname2"></div>

<script>
    const username = '<%= username %>';
    const roomId = '<%= roomId %>';
</script>
<script src='/socket.io/socket.io.js'></script>
<script src='/clientSockets.js'></script>

<%- include('footer') -%>