* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #6e7c7c;
    font-family: 'Open Sans', sans-serif;
    min-width: 690px;
}

.container {
    background-color: #435560;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 1px 2px 3px #000;
}

/*Buttons*/

.game-button {
    border: none;
    width: 50%;
    float: left;
    padding: 2%;
}

.chat-submit {
    width: 15%;
    height: 100%;
    float: right;
    border: none;
}

.form-button {
    padding: 2%;
}

.show-rules {
    position: absolute;
    z-index: 2;
    top: 5%;
    right: 5%;
    font-size: 35px;
    line-height: 100%;
    border: none;
}

.chat-submit, .game-button, .form-button, .show-rules {
    background-color: transparent;
    opacity: .4;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.chat-submit:hover, .game-button:hover, .form-button:hover, .show-rules:hover {
    background-color: rgba(0, 0, 0, .2);
    cursor: pointer;
    border: none;
    opacity: 1;
}

.surr-draw-buttons {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
}

.offer-draw, .surrender {
    font-size: 25px;
}

/*Enter game*/

.login-form {
    margin: 10% auto 0;
    width: 30%;
    padding: 4% 4% 6%;
}

.form-header {
    text-align: center;
    font-size: 20px;
    padding: 2%;
    border-bottom: 2px solid #92967d;
    margin-bottom: 8%;
}

.form-name, .form-button{
    padding: 2%;
    font-size: 20px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    width: 70%;
    display: block;
    border: none;
    margin: auto;
}

.form-name {
    margin-bottom: 12%;
    text-align: center;
}

.form-name:focus {
    outline: none;
    box-shadow: 0 2px 4px;
}

/*rules*/

.rules {
    display: none;
    overflow: hidden;
}

.rules-container {
    width: 60%;
    height: 80%;
    margin: 3% auto;
    padding: 5%;
    overflow-y: auto;
    min-width: 600px;
}

.rules-header {
    margin: 2% 0 5%;
}

.rules-rules ul {
    list-style: none;
    margin-bottom: 5%;
}

.rules-rules>ul>li {
    margin-bottom: 3%;
}

.rules-rules>ul>li>ul {
    margin: 3% 5%;
}

.rules-table {
    margin-bottom: 8%;
    width: 100%;
    table-layout: fixed;
}

.rules-table td {
    padding: 3% 0;
    text-align: center;
}

/*Play game*/
/*Board*/

.board-container {
    position: relative;
    width: 70%;
    padding: 5%;
    margin: 5% auto;
    min-width: 600px;
    min-height: 300px;
    max-height: 640px;
    max-width: 840px;
}

.board {
    width: 65%;
    padding-top: 65%;
    position: relative;
    top: 8%;
    left: 3%;
    max-height: 520px;
    box-shadow: 0 0 11px #1f1e1c;
}

.field {
    position: absolute;
    width: calc(100%/7);
    height: calc(100%/7);
}

/*przy transform field bez wewnętrznego elementu filler białe przestrzenie między polami*/

.filler {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.turned {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}

.field:nth-of-type(odd) {
    background-color: #6e7c7c;
}

.field:nth-of-type(even) {
    background-color: #324449;
}

.field.move-available {
    background-color: orange;
}

.field.attack-available {
    background-color: pink;
}

/*game status*/

.game-status-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.game-status-content {
    width: 76%;
    height: 50%;
    background-color: #435560;
    position: absolute;
    top: 25%;
    left: 12%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 10% 2%;
}

.win-alert {
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-bottom: 13%;
}

.play-again {
    display: none;
    float: none;
    margin: auto;
    font-size: 25px;
}

/*Side panel*/

.side-panel {
    position: absolute;
    right: 4%;
    top: 10%;
    width: 25%;
    height: 80%;
}

/*Chat*/

.chat {
    width: 100%;
    height: 70%;
    padding: 3%;
    font-size: 12px;
    margin-bottom: 10%;
}

.chat-messages {
    height: 90%;
    width: 100%;
    border: 2px solid #213338;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    word-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 2%;
}

.chat-message {
    padding: 0 3%;
}

.chat-message:nth-child(even) {
    background-color: pink;
}

.chat-message:nth-child(odd) {
    background-color: gray;
}

.chat-form {
    height: 10%;
}

.chat-input {
    width: 80%;
    height: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    background-color: #435560;
}

.chat-input:focus {
    border-bottom: 1px solid #000;
    outline: none;
}

/*Alert draw surrender*/

.alert-message {
    display: none;
    width: 92%;
    height: 30%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    background-color: #435560;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 1px 2px 3px #000;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    padding: 15% 2% 2%;
    text-align: justify;
}

.alert-message-text {
    font-size: 12px;
    margin-bottom: 15%;
}

.alert-message-button {
    font-size: 12px;
}

/*Game info*/

.game-info {
    position: relative;
    width: 100%;
    height: 25%;
    padding: 2%;
}

.pnames {
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    font-size: 14px;
    overflow: hidden;
}

.pnameDc {
    color: rgba(0, 0, 0, .3);
}

.on-move-higlighted {
    background-color: rgba(0, 0, 0, .1);
    background: linear-gradient(90deg, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, 0) 100%);
}

.timer {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    font-size: 30px;
}

.error-message {
    font-size: 25px;
    width: 60%;
    margin: 5% auto;
    padding: 4%;
}

/*footer*/

.footer {
    position: fixed;
    bottom: 1%;
    width: 100%;
}

.footer-text {
    display: block;
    text-align: center;
    opacity: .4;
}

/*Pieces image*/

.WS {
    background-image: url('/img/whiteSoldier.png');
}

.WT {
    background-image: url('/img/whiteTank.png');
}

.WP {
    background-image: url('/img/whitePlane.png');
}

.WH {
    background-image: url('/img/whiteHelicopter.png');
}

.WG {
    background-image: url('/img/whiteGeneral.png');
}

.BS {
    background-image: url('/img/blackSoldier.png');
}

.BT {
    background-image: url('/img/blackTank.png');
}

.BP {
    background-image: url('/img/blackPlane.png');
}

.BH {
    background-image: url('/img/blackHelicopter.png');
}

.BG {
    background-image: url('/img/blackGeneral.png');
}